[Unit]
Description=Run catfeeder service @ 10am and 10pm

[Timer]
OnCalendar=*-*-* 10:00:00
OnCalendar=*-*-* 22:00:00
Persistent=false

[Install]
WantedBy=timers.target
